body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.cell {
    list-style: none;
    width: 40px;
    height: 40px;
    border: 0.5px solid red;
    cursor: pointer;
}

.battleField {
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0 auto;
}

.ship {
    background-color: grey;
}

.missed {
    background-color: green;
}

.defeated {
    background-color: black;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    color: white;
    font-size: 3rem;
}